@import url('https://fonts.googleapis.com/css?family=Orbitron|Pangolin');

h1  {
	font-family: 'Orbitron';
	font-size: 40px;
	padding: 1em;
	margin: 1em;
	text-align: center;
}

h2  {
	font-family: 'Orbitron';
	padding: 1em;
	margin: 1em;
	text-align: center;
}

.headFont {
	font-family: 'Orbitron';
	padding: 1em;
	text-align: center;
}

body {
	background-color: #990000;
	font-size: 40px;
}

aside {
	background-color: #1f1e1e;
}

#em-unit {
	background-color: #1f1e1e;
	width: 1em;
	height: 1em;
}

#pixel-unit {
	background-color: #1f1e1e;
	width: 1em;
	height: 1em;
}

#two_column {
	background-color: green;
	border: 1px black solid;
	padding: 20px;
}

#left {
	background-color: black;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 30%;
}

#right {
	background-color: #1f1e1e;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 40%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.head {
	width: auto;
}

.body, html {
	width: auto;
}

.header {
	width: auto;
}

.img {
	width: auto;
}

.nav {
	width: auto;
}

.section {
	
	background-color: green;
}

.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%;
    height: auto;
    margin: auto;
} 

@media only screen and (min-width: 100px) {
	.section { 
		float: none;
		width: auto;
	}
}
