@import url('https://fonts.googleapis.com/css?family=Orbitron|Pangolin');

h1 {
	font-family: 'Orbitron';
	padding: 1em;
	margin: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Audiowide');

h2 {
	font-family: 'Audiowide';
	padding: 0,5em;
	margin: 0.5em;
}
