@import url('https://fonts.googleapis.com/css?family=Orbitron|Pangolin');

h1  {
	font-family: 'Orbitron';
	padding: 1em;
	margin: 1em;
	text-align: center;
}

h2  {
	font-family: 'Orbitron';
	padding: 1em;
	margin: 1em;
	text-align: center;
}

.headFont {
	font-family: 'Orbitron';
	padding: 1em;
	text-align: center;

}

body {
	background-color: #990000

	


}
